##############################
# Variables de configuracion #
##############################

DIR_BASE={{ dir_base }}
DIR_WORK={{ dir_work }}
DIR_LOG={{ dir_log }}
DIR_WORK_TEMP=$DIR_WORK/get-dockerhub-images
LOG=$DIR_LOG/get-dockerhub-images.log
